/* メディアクエリ */

@media (max-width: 1170px) {
body {
    /* background-color: orange; */
  }

  header {
    width: 100%;
    left: 0;
  }

  .header-btn {
    letter-spacing: 0px;
  }

  .go-to-top a {
    color: rgb(223, 103, 36);
  }

  h1 {
    font-size: 55px;
    letter-spacing: 0px;
  }

   .introduction-photos {  /* flex の 親 */
     flex-wrap: wrap;
   }

   .introduction-photo {
     padding: 0
   }

   .i-p-wapper {      /* flex の 子 */
     width: 50%;
   }

  .photos {          /* flex の 親 */
    flex-wrap: wrap;
  }

  .photo-complex {     /* flex の 子 */
    flex: auto;
    width: 50%;
  }

}



@media (max-width: 670px) {
  body {
      /* background-color: green; */
    }

  .go-to-top {
    bottom: 30px;
    right:  15px;
    width:  66px;
    height: 66px;
  }

  .go-to-top a {
    color: rgb(170, 56, 204);
  }

  .arrow {
    font-size: 60px;
    line-height: 60px;
  }

  .header-right  {
    display: none;
  }

  .header-btn {
    font-size: 20px;
    letter-spacing: 3px;
  }

  .icon-wrapper {
    display: block;
    float: right;
  }

  .festival-title {
    width: 350px;
    transform: translate(-175px, -50%);
  }

  .introduction-photos {  /* flex の 親 */
    flex-direction: column;
    width: 100%;
  }

  h3 {
    font-size: 18px;
    letter-spacing: 0;
  }


  .i-p-wapper {      /* flex の 子 */
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .introduction-text p {
    padding: 0 20px;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
  }

  .photos {  /* flex の 親 */
    flex-direction: column;
    width: 100%;
  }

  .photo-complex  {      /* flex の 子 */
    width: 100%;
  }

  .image-photo {
    max-width:  300px;
    max-height: 300px;
    width:  500px;
    height: 500px;
    margin: 0 auto;
    display: block;
  }

  .photo-caption {
    max-width: 300px;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
  }

  .season-text {
    font-size: 17px;
    line-height: 23px;
  }

  .footer-txt {
    padding-top: 15px;
  }

}
