/* メディアクエリ */

@media (max-width: 1170px) {
body {
    /* background-color: orange; */
  }

  header {
    width: 100%;
    left: 0;
  }

  .header-btn {
    letter-spacing: 0px;
  }

  h1 {
    font-size: 55px;
    letter-spacing: 0px;
  }

   .introduction-photos {  /* flex の 親 */
     flex-wrap: wrap;
   }

   .introduction-photo {
     padding: 0
   }

   .i-p-wapper {      /* flex の 子 */
     width: 50%;
   }

  .photos {          /* flex の 親 */
    flex-wrap: wrap;
  }

  .photo-complex {     /* flex の 子 */
    flex: auto;
    width: 50%;
  }

}



@media (max-width: 670px) {
  body {
      /* background-color: green; */
    }

  .go-to-top {
    bottom: 35px;
    right:  25px;
    background-color: rgb(154, 18, 171);
  }

  .go-to-top a {
    color: white;
  }

  .header-right  {
    display: none;
  }

  .header-btn {
    font-size: 20px;
    letter-spacing: 3px;
  }

  .icon-wrapper {
    display: block;
    float: right;
  }

  .festival-title {
    width: 350px;
    transform: translate(-175px, -50%);
  }

  .introduction-photos {  /* flex の 親 */
    flex-direction: column;
    width: 100%;
  }

  .i-p-wapper {      /* flex の 子 */
    width: 50%;
    margin: 0 auto;
  }

  .introduction-text p {
    padding: 0 20px;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
  }

  .photos {  /* flex の 親 */
    flex-direction: column;
    width: 100%;
  }

  .photo-complex  {      /* flex の 子 */
    width: 100%;
  }

  .image-photo {
    max-width:  300px;
    max-height: 300px;
    width:  500px;
    height: 500px;
    margin: 0 auto;
    display: block;
  }

  .photo-caption {
    font-size: 17px;
    line-height: 25px;
  }

  .season-text {
    font-size: 20px;
  }
}
