/* メディアクエリ */

@media (max-width: 1170px) {
body {
    /* background-color: orange; */
  }

  header {
    width: 100%;
    left: 0;
  }

  .header-btn {
    letter-spacing: 0px;
  }

  .go-to-top a {
    color: rgb(223, 103, 36);
  }

  h1 {
    font-size: 70px;
    letter-spacing: 10px;
  }

   .introduction-photos {  /* flex の 親 */
     flex-wrap: wrap;
   }

   .introduction-photo {
     padding: 0
   }

   .introduction-text {
     font-size: 27px;
     line-height: 50px;
     text-align: center;
   }

   .i-p-wapper {      /* flex の 子 */
     width: 50%;
   }

   .season-title h2 {
     font-size: 65px;
     letter-spacing: 10px;
   }

   .season-text {
     font-size: 27px;
     line-height: 60px;
   }

  .photos {          /* flex の 親 */
    flex-wrap: wrap;
  }

  .photo-complex {     /* flex の 子 */
    flex: auto;
    width: 50%;
  }

}



@media (max-width: 670px) {
  body {
      /* background-color: green; */
    }

  .go-to-top a {
    color: rgb(170, 56, 204);
  }
  .go-to-twitter {
    position: fixed;
    bottom: 170px;
    right:  20px;
  }

  .go-to-facebook {
    position: fixed;
    bottom: 100px;
    right:  20px;
  }

  .go-to-top {
    position: fixed;
    bottom: 30px;
    right:  20px;
  }

  .side-btn {
  width:  56px;
  height: 56px;
  border-radius: 10px;
  }

  .side-icon {
    font-size: 50px;
    line-height: 50px;
  }

  .header-left {
    width: 150px;
  }

  .header-right  {
    display: none;
  }

  .header-btn {
    font-size: 20px;
    letter-spacing: 3px;
  }

  .icon-wrapper {
    display: block;
    float: right;
  }

  .festival-title {
    width: 300px;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-size: 45px;
    letter-spacing: 5px;
  }

  .introduction-photos {  /* flex の 親 */
    flex-direction: column;
    width: 100%;
  }

  h3 {
    font-size: 18px;
    letter-spacing: 0;
  }

  .i-p-wapper {      /* flex の 子 */
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .introduction-text p {
    padding: 0 20px;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
  }

  .season-title {
    height: 300px;
  }

 .season-title h2 {
   line-height: 240px;
   font-size: 42px;
   letter-spacing: 2px;
 }

  .photos {  /* flex の 親 */
    flex-direction: column;
    width: 100%;
  }

  .photo-complex  {      /* flex の 子 */
    width: 100%;
  }

  .image-photo {
    max-width:  300px;
    max-height: 300px;
    width:  500px;
    height: 500px;
    margin: 0 auto;
    display: block;
  }

  .season-text {
    font-size: 15px;
    line-height: 25px;
  }

  .photo-caption {
    max-width: 300px;
    font-size: 13px;
    line-height: 18px;
    margin-top: 2px;
  }

  .entry_title {
    width: 100%;
  }

  .entry_title dt {
    text-align: left;
    padding-left: 30px;
  }

  .entry_wrapper p {
    font-size: 15px;
  }

  .entry_title span {
    top: 2px;
    right: 10px;
    font-size: 20px;
  }

  .summary {
      width: 100%;
  }

  .autumn dt {
    font-size: 0;
  }

  .autumn dt:before {
    font-size: 17px;
    content:"「演奏会」に出演、出店希望の方";
  }


  .footer-txt {
    padding-top: 12px;
  }

}
