* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
}


body {
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
  background-image:url(./image/bgi_tsuruma.jpg);
  background-repeat: repeat;
}


.contents {
  max-width:1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* ヘッダー */

header {
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 60;
  text-align: center;
}

.header-line {
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: rgba(4,139,168,.9);
  z-index: 50;
}

.header-left {
  width: 200px;
  height: 65px;
  float: left;
}

.header-right {
  float: right;
  height: 65px;
}

header a {
  display: inline-block;
  color: white;
  letter-spacing: 8px;
  padding: 0 10px;
  line-height: 65px;
}

.header-btn:hover {
  background-color: rgba(110, 240, 89,.7);
  transition: all 0.5s;
}

.icon-wrapper {
  display: none;
}

.icon-menu {
  display: none;
  float: right;
  font-size: 30px;
  height: 65px;
  padding-top: 15px;
  color: white;
  cursor: pointer;
}

/* モーダル */

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  z-index: 90;
}

.mask.active {
  opacity: .7;
  visibility: visible;
}

.modal {
  position: fixed;
  top: 65px;
  right: 20px;
  width: 60%;
  height: 256px;
  /* max-height: 80vh; */
  /* overflow: hidden; */
  border: 3px solid white;
  border-radius: 15px;
  background-color: rgb(170, 56, 204);
  opacity: 0;
  visibility: hidden;
  transform: scale(.97);
  transition: .5s;
  z-index: 100;
}

.modal.active {
  opacity: .7;
  visibility: visible;
  transform: scale(1);
}

.modal-left {
  display: inline-block;
  float: left;
  border-radius: 15px 0 0 0;
  border-bottom: 2px solid white;
  width: 70%;
  height: 50px;
  color: white;
  background-color: rgb(170, 56, 204);
}

.modal-left p {
  font-size: 13px;
  font-family: 'M PLUS 1p', sans-serif;
  line-height: 17px;
  padding: 5px 0 0 25px;
}

.modal_right {
  display: inline-block;
  float: right;
  border-radius: 0 10px 0 0;
  width: 30%;
  height: 50px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  line-height: 48px;
  color: rgb(4,139,168);
  background-color: #fff;
}

.modal_right p {
  font-size: 23px;
}

.clear {
  clear: both;
}

.modal_btn {
  display: block;
  height: 50px;
  color: white;
  font-size: 17px;
  line-height: 50px;
  padding-left: 25px;
}

.modal_btn:hover {
  background-color: rgb(226, 172, 249);
  transition: .3s;
}

/* サイドボタン */

.side-btn {
  display: block;
  width:  86px;
  height: 86px;
  border-radius: 15px;
  background-color: white;
  opacity: .8;
  z-index: 40;
}

.go-to-twitter {
  position: fixed;
  bottom: 230px;
  right:  30px;
}

.go-to-facebook {
  position: fixed;
  bottom: 130px;
  right:  30px;
}

.go-to-top {
  position: fixed;
  bottom: 30px;
  right:  30px;
}

.go-to-twitter a {
  color: #55acee;
}

.go-to-facebook a {
  color: #3b5998;
}

.go-to-top a {
  color: rgb(4,139,168);
}

.side-btn a {
  display: block;
  border-radius: 40px;
  padding-top: 3px;
  text-align: center;
}

.side-icon {
  font-size: 80px;
  line-height: 80px;
}

/* introduction-area */

.big-image {            /* トップ画像 */
  width:  100%;
  height: 600px;
  background-image: url(./image/festival_top.jpg);
  background-size: cover;
  position: relative;
  display: block;
}

.festival-title {
  position: absolute;
  text-align: center;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: white;
  font-family: 'Noto Serif JP', serif;
  font-size: 85px;
  letter-spacing: 20px;
  text-shadow: 6px 6px 6px rgb(4,139,168);
}

.greet {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.alert {
  color: red;
  text-align: center;
}

h3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
}

 .introduction-photos {   /* flex の 親 */
  display: flex;
  width: 80%;
  margin: 20px auto;
}

.i-p-wapper {      /* flex の 子 */
  width: 25%;
}

.introduction-photo {
  display: block;
  max-width: 220px;
  max-height: 220px;
  padding: 10px;
  margin: 0 auto;
}

.introduction-photo:hover {
  padding: 0;
}

.i-p-cap {
  display: none;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 12px;
}

.i-p-active {
  display: block;
}

.introduction-text {
  display: block;
  font-family: 'Noto Serif JP', serif;
  font-size: 30px;
  line-height: 60px;
  border-top: 3px solid rgb(4,139,168);
  border-bottom: 3px solid rgb(4,139,168);
  text-align: center;
  margin-top: 50px;
}

/* season area */

.season-area {
  width: 100%;
  margin: 0 auto;
}

.empty {
  height: 65px;
}

.season-title {
  height: 500px;
  margin: 0px 0 50px 0;
}

.season-title h2 {
  width: 100%;
  line-height: 440px;
  font-family: 'Noto Serif JP', serif;
  font-size: 75px;
  letter-spacing: 20px;
  color: white;
  text-align: center;
}

#spring .season-title {
  background-image: url(./image/spring_main.jpg);
  background-size: cover;
}

#summer .season-title {
  background-image: url(./image/summer_main.jpg);
  background-size: cover;
}

#autumn .season-title {
  background-image: url(./image/autumn_main2.jpg);
  background-size: cover;
}

#winter .season-title {
  background-image: url(./image/winter_main2.jpg);
  background-size: cover;
}


#spring .season-title {
  text-shadow: 8px 8px 8px rgb(173, 28, 204);
  border-top: 30px solid rgb(182, 83, 203);
  border-bottom: 30px solid rgb(182, 83, 203);
}

 #summer h2{
   text-shadow: 8px 8px 8px rgb(27, 52, 203);
   border-top: 30px solid rgb(61, 81, 203);
   border-bottom: 30px solid rgb(61, 81, 203);
  }

 #autumn h2{
   text-shadow: 8px 8px 8px rgb(217, 21, 21);
   border-top: 30px solid rgb(168, 69, 69);
   border-bottom: 30px solid rgb(168, 69, 69);
 }

 #winter h2{
   text-shadow: 8px 8px 8px rgb(255, 0, 0);
   border-top: 30px solid rgb(247, 75, 75);
   border-bottom: 30px solid rgb(247, 75, 75);
 }

.photos {            /* flex の 親 */
  display: flex;
}

.photo-complex {        /* flex の 子 */
  flex: auto;
  width: 25%;
  margin-bottom: 20px;
}

.image-photo {
  max-width: 280px;
  max-height: 280px;
  width:  500px;
  height: 500px;
  margin: 0 auto;
  padding: 5px;
  display: block;
}

.photo-caption {
  width: 80%;
  margin: 15px auto;
  font-size: 15px;
  line-height: 25px;
}

.season-text {
  max-width: 1000px;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
  margin: 20px auto 50px auto;
  border-left: 5px solid rgba(4,139,168,.9);
  padding-left: 30px;
}

/* footer */

footer {
  height: 65px;
  color: white;
  background-color: rgba(4,139,168,.9);
}

footer p {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: left;
  font-size: 13px;
  line-height: 20px;
}

.footer-txt {
  padding-top: 10px;
}
