* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #dcdcdc;
}



.contents {
  max-width:1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10000;
  text-align: center;
}

.header-line {
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: rgba(47,79,79,0.9);
  z-index: 100;
}

.header-left {
  width: 140px;
  height: 65px;
  float: left;
}

.header-right {
  float: right;
  height: 65px;
}

.icon-wrapper {
  display: none;
  margin-top: 10px;
  line-height: 65px;
}

.icon-menu {
  display: none;
  float: right;
  font-size: 40px;
  height: 65px;
  color: white;
}

header a {
  display: inline-block;
  color: white;
  letter-spacing: 8px;
  line-height: 65px;
}

.header-btn:hover {
  background-color: darkgray;
  transition: all 0.5s;
}

.go-to-top {
  position: fixed;
  bottom: 100px;
  right:  80px;
  display: block;
  width:  80px;
  height: 80px;
  border-radius: 40px;
  background-color: aqua;
  opacity: .8;
  z-index: 150;
}

.go-to-top a {
  display: block;
  font-size: 22px;
  line-height: 80px;
  border-radius: 40px;
  text-align: center;
}


.big-image {            /* トップ画像差し替え用 */
  width:  100%;
  height: 600px;
  background-image: url(./image/festival_top.jpg);
  background-size: cover;
  position: relative;
  display: block;
}

.festival-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: white;
  font-size: 80px;
  letter-spacing: 10px;
}

.greet {
  text-align: center;
}

h3 {
  font-size: 30px;
  letter-spacing: 5px;
}

 .introduction-photos {   /* flex の 親 */
  display: flex;
  width: 80%;
  margin: 20px auto;
}

.i-p-wapper {      /* flex の 子 */
  width: 25%;
}

.introduction-photo {
  display: block;
  max-width: 220px;
  max-height: 220px;
  padding: 10px;
  margin: 0 auto;
}

.i-p-cap {
  text-align: center;
  margin-top: 3px;
  font-style: italic;
  font-size: 12px;
}

.introduction-text {
  display: block;
  font-family: serif;
  font-size: 30px;
  line-height: 60px;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  text-align: center;
  margin-top: 50px;
}


.season-area {
  width: 100%;
  margin: 0 auto;
}

.season-title {
  height: 500px;
  margin: 50px 0 50px 0;
  z-index: 1;
}

#spring .season-title {
  background-image: url(./image/spring_main.jpg);
  background-size: cover;
}

#summer .season-title {
  background-image: url(./image/summer_main.jpg);
  background-size: cover;}

#autumn .season-title {
  background-image: url(./image/autumn_main.jpg);
  background-size: cover;}

#winter .season-title {
  background-image: url(./image/winter_main.jpg);
  background-size: cover;}

.season-title h2 {
  line-height: 500px;
  font-size: 45px;
  letter-spacing: 5px;
  color: white;
  text-align: center;
}

.photos {            /* flex の 親 */
  display: flex;
}

.photo-complex {        /* flex の 子 */
  flex: auto;
  width: 25%;
  margin-bottom: 20px;
}

.image-photo {
  max-width: 280px;
  max-height: 280px;
  width:  500px;
  height: 500px;
  margin: 0 auto;
  display: block;
}

.photo-caption {
  width: 80%;
  margin: 15px auto;
  font-size: 15px;
  line-height: 25px;
}

.season-text {
  max-width: 1000px;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
  margin: 20px auto 50px auto;
}



footer {
  height: 65px;
  color: white;
  background-color: rgba(47,79,79,0.9);
}

footer p {
  text-align: left;
  font-size: 15px;
  line-height: 7px;
}

.footer-txt {
  padding-top: 5px;
}
